<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" parallel="false" preserve-order="true">
	<test name="Test1">
	    <parameter name="deviceName_" value="ce0916091a535e1605" /> 
	    <!--  parameter name="deviceName_" value="LGM700f524499" /--> 
		<parameter name="platformVersion_" value="7.0" /> 
		<parameter name="platformName_" value="Android" />
		<parameter name="appPackage_" value="com.amazon.mShop.android.shopping" />
		<parameter name="appActivity_" value="com.amazon.mShop.splashscreen.StartupActivity" />
		
		<classes>
			<class name="TestBase.DriverBase" />
			<class name="TestScript.Amazon_TestCases" />
		</classes>
	</test>
</suite>